In [3]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/uber')
engine.connect()

In [4]:
%load_ext sql
%sql postgresql://root:root@localhost:5432/uber

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
query = """
SELECT * FROM main;
"""

df = pd.read_sql_query(query, engine)

In [7]:
df

,index,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,19413262,HV0003,B02864,B02864,2019-07-30 17:19:03,2019-07-30 17:19:22,2019-07-30 17:27:08,2019-07-30 17:55:39,233,48,...,2.04,2.75,None,0.00,17.20,N,N,,N,N
1,10669053,HV0003,B02872,B02872,2019-07-18 07:40:03,2019-07-18 07:42:52,2019-07-18 07:43:40,2019-07-18 07:55:11,224,233,...,0.39,0.75,None,1.00,5.48,Y,Y,,N,
2,5101164,HV0003,B02682,B02682,2019-07-09 21:37:27,2019-07-09 21:42:52,2019-07-09 21:46:05,2019-07-09 22:28:34,124,7,...,1.91,0.00,None,0.00,30.36,Y,Y,,N,
3,1310001,HV0003,B02764,B02764,2019-07-03 10:10:33,2019-07-03 10:10:44,2019-07-03 10:12:56,2019-07-03 10:38:18,162,138,...,3.38,2.75,None,0.00,28.60,N,N,,N,
4,9802365,HV0003,B02869,B02869,2019-07-16 21:25:01,2019-07-16 21:27:25,2019-07-16 21:28:43,2019-07-16 21:37:01,198,226,...,0.84,0.00,None,0.00,6.63,N,N,,N,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,18216436,HV0003,B02764,B02764,2019-07-28 17:30:49,2019-07-28 17:38:55,2019-07-28 17:40:35,2019-07-28 18:02:01,93,56,...,2.31,0.00,None,0.00,30.06,N,N,,N,N
99996,15211639,HV0005,B02510,None,2019-07-24 14:30:35,NaT,2019-07-24 14:42:52,2019-07-24 15:47:21,132,68,...,6.44,2.75,None,12.53,54.07,N,N,N,N,N
99997,6311967,HV0003,B02835,B02835,2019-07-11 20:21:21,2019-07-11 20:25:55,2019-07-11 20:26:59,2019-07-11 20:35:10,170,186,...,1.18,2.75,None,0.00,9.16,N,N,,N,
99998,18093021,HV0003,B02876,B02876,2019-07-28 14:00:00,2019-07-28 14:01:22,2019-07-28 14:01:22,2019-07-28 14:16:05,48,186,...,0.73,2.75,None,5.00,13.50,N,N,,N,N
99999,9745639,HV0003,B02869,B02869,2019-07-16 19:58:23,2019-07-16 19:58:36,2019-07-16 20:01:12,2019-07-16 20:38:41,68,49,...,2.72,2.75,None,0.00,26.07,N,N,,N,