# Platform
- This notebook studies how rides differ based on their playform
- I show that riders are more likely to tip in Lyft rides vs Uber rides
- Uber drivers are compensated more per mile or minute, even after accounting for that Lyft riders are more likely to tip

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/uber')
engine.connect()

In [2]:
%load_ext sql
%sql postgresql://root:root@localhost:5432/uber

### Tips and Ride Platform
- How does the likelihood of tips vary with the platform?
- To study this, I group by the TLC license number
- I first use a subquery to alias the cumbersome 'Hvfhs_license_num' as 'license'
- I then group by 'license' and use a case statement for brand names
- I use a descending order of how likely a platform is to have a tip

- We can see that Lyft rides are significantly more likely to tip than Juno, Via, and Uber

In [3]:
%%sql
SELECT 
CASE 
    WHEN license = 'HV0002' THEN 'Juno'
    WHEN license = 'HV0003' THEN 'Uber'
    WHEN license = 'HV0004' THEN 'Via'
    WHEN license = 'HV0005' THEN 'Lyft'
END platform,
ROUND(100*AVG(
    (tips > 0)::int
    ), 2) "Percent with Tips"
FROM (
    SELECT 
    Hvfhs_license_num license, 
    tips
    FROM main
) aux
GROUP BY license
ORDER BY AVG((tips > 0)::int) DESC

 * postgresql://root:***@localhost:5432/uber
4 rows affected.

[('Lyft', Decimal('19.09')),
 ('Uber', Decimal('11.99')),
 ('Via', Decimal('8.77')),
 ('Juno', Decimal('8.55'))]

### Platform and Driver Pay
- How do the playforms vary in how much they pay drivers?

In [13]:
%%sql
DROP VIEW IF EXISTS aux;
CREATE VIEW aux AS 
SELECT 
CASE 
    WHEN Hvfhs_license_num = 'HV0002' THEN 'Juno'
    WHEN Hvfhs_license_num = 'HV0003' THEN 'Uber'
    WHEN Hvfhs_license_num = 'HV0004' THEN 'Via'
    WHEN Hvfhs_license_num = 'HV0005' THEN 'Lyft'
END platform,
trip_miles,
trip_time / 60 trip_minutes, 
driver_pay, 
tips 
FROM main;

SELECT * FROM aux LIMIT 10;

 * postgresql://root:***@localhost:5432/uber
Done.
Done.
10 rows affected.

[('Uber', 2.82, 28, 17.2, 0.0),
 ('Uber', 2.35, 11, 5.48, 1.0),
 ('Uber', 17.76, 42, 30.36, 0.0),
 ('Uber', 9.06, 25, 28.6, 0.0),
 ('Uber', 2.3, 8, 6.63, 0.0),
 ('Uber', 2.78, 28, 17.0, 0.0),
 ('Lyft', 0.602, 12, 6.63, 0.0),
 ('Uber', 3.9, 10, 9.7, 0.0),
 ('Uber', 2.34, 23, 12.11, 0.0),
 ('Via', 1.7, 11, 0.0, 0.0)]

### Pay per Mile
- Using the view, I compute the average pay per mile for each platform
- Juno and Uber pay the highest
- Interestingly, Via pays much lower

In [17]:
%%sql
SELECT 
platform, 
ROUND(
    AVG(driver_pay / trip_miles)::numeric
    ,2) pay_per_mile
FROM aux 
WHERE trip_miles > 0.00
GROUP BY platform
ORDER BY AVG(driver_pay / trip_miles) DESC

 * postgresql://root:***@localhost:5432/uber
4 rows affected.

[('Juno', Decimal('4.87')),
 ('Uber', Decimal('4.45')),
 ('Lyft', Decimal('3.35')),
 ('Via', Decimal('0.22'))]

### Pay per Mile - With Tips 
- It's possible that the lower pay of Lyft drivers is compensated by their higher tip rate
- To examine this, I now include tips when computing driver pay
- Naturally, including tips increases driver pay per mile, but doesn't remove the advantage that uber has over lyft

In [19]:
%%sql
SELECT 
platform, 
ROUND(
    AVG((driver_pay + tips) / trip_miles)::numeric
    ,2) pay_per_mile
FROM aux 
WHERE trip_miles > 0.00
GROUP BY platform
ORDER BY AVG(driver_pay / trip_miles) DESC

 * postgresql://root:***@localhost:5432/uber
4 rows affected.

[('Juno', Decimal('4.98')),
 ('Uber', Decimal('4.60')),
 ('Lyft', Decimal('3.60')),
 ('Via', Decimal('0.28'))]

### Pay per Minute
- Using the view, I compute average pay per minute for each platform
- Juno and Uber again pay the highest rate, with Lyft paying a lower rate

In [18]:
%%sql
SELECT 
platform, 
ROUND(
    AVG(driver_pay / trip_minutes)::numeric
    ,2) pay_per_mile
FROM aux 
WHERE trip_minutes > 0.00
GROUP BY platform
ORDER BY AVG(driver_pay / trip_minutes) DESC

 * postgresql://root:***@localhost:5432/uber
4 rows affected.

[('Juno', Decimal('1.00')),
 ('Uber', Decimal('0.91')),
 ('Lyft', Decimal('0.67')),
 ('Via', Decimal('0.05'))]