In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:root@localhost:5432/uber')
engine.connect()

In [2]:
%load_ext sql
%sql postgresql://postgres:root@localhost:5432/uber

### By Hour

In [12]:
%%sql
SELECT 
hour, 
ROUND(
100 * COUNT(*)::numeric / (SELECT COUNT(*)::numeric FROM main)
, 2) "Percent of Trips"
FROM (
    SELECT
    EXTRACT(hour FROM pickup_datetime) "hour"
    FROM main
) hourly
GROUP BY hour 
ORDER BY hour ASC

 * postgresql://postgres:***@localhost:5432/uber
24 rows affected.

[(Decimal('0'), Decimal('4.12')),
 (Decimal('1'), Decimal('3.06')),
 (Decimal('2'), Decimal('2.05')),
 (Decimal('3'), Decimal('1.36')),
 (Decimal('4'), Decimal('1.54')),
 (Decimal('5'), Decimal('1.65')),
 (Decimal('6'), Decimal('2.38')),
 (Decimal('7'), Decimal('3.75')),
 (Decimal('8'), Decimal('4.76')),
 (Decimal('9'), Decimal('4.83')),
 (Decimal('10'), Decimal('3.93')),
 (Decimal('11'), Decimal('4.16')),
 (Decimal('12'), Decimal('4.05')),
 (Decimal('13'), Decimal('4.31')),
 (Decimal('14'), Decimal('4.47')),
 (Decimal('15'), Decimal('4.72')),
 (Decimal('16'), Decimal('4.66')),
 (Decimal('17'), Decimal('5.85')),
 (Decimal('18'), Decimal('6.07')),
 (Decimal('19'), Decimal('6.22')),
 (Decimal('20'), Decimal('5.78')),
 (Decimal('21'), Decimal('5.40')),
 (Decimal('22'), Decimal('5.58')),
 (Decimal('23'), Decimal('5.30'))]

### By Weekday

In [13]:
%%sql
SELECT 
dow, 
ROUND(
100 * COUNT(*)::numeric / (SELECT COUNT(*)::numeric FROM main)
, 2) "Percent of Trips"
FROM (
    SELECT
    EXTRACT(isodow FROM pickup_datetime) "dow"
    FROM main
) dowly
GROUP BY dow 
ORDER BY dow ASC

 * postgresql://postgres:***@localhost:5432/uber
7 rows affected.

[(Decimal('1'), Decimal('15.22')),
 (Decimal('2'), Decimal('14.54')),
 (Decimal('3'), Decimal('16.10')),
 (Decimal('4'), Decimal('12.46')),
 (Decimal('5'), Decimal('12.83')),
 (Decimal('6'), Decimal('15.21')),
 (Decimal('7'), Decimal('13.64'))]