# Time
- This notebook studies the time dimension of rides
- I document that the smallest percentage of rides occur at late night, and the smallest proportion of rides occur on Thursday
- Tips are less likely at late night, and most likely at lunch
- Perhaps surprisingly, driver pay is lowest at late night, likely due to low demand
  - Alternatively, we might expect that drivers are payed a premium to drive at night

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/uber')
engine.connect()

%load_ext sql
%sql postgresql://root:root@localhost:5432/uber

### By Hour
- This query studies the composition of trips across the day
- I first create a subquery which extracts the 'hour' of each *pickup* datetime
- I then compute the portion of trips within each hour

**Findings**
- We can see trips are most popular in the evening and least popular late at night

In [3]:
%%sql
SELECT 
hour, 
ROUND(
100 * COUNT(*)::numeric / (SELECT COUNT(*)::numeric FROM main)
, 2) "Percent of Trips"
FROM (
    SELECT
    CAST(EXTRACT(hour FROM pickup_datetime) AS int) "hour"
    FROM main
) hourly
GROUP BY hour 
ORDER BY hour ASC

 * postgresql://root:***@localhost:5432/uber
24 rows affected.

[(0, Decimal('4.10')),
 (1, Decimal('2.80')),
 (2, Decimal('1.98')),
 (3, Decimal('1.48')),
 (4, Decimal('1.50')),
 (5, Decimal('1.62')),
 (6, Decimal('2.44')),
 (7, Decimal('3.70')),
 (8, Decimal('4.88')),
 (9, Decimal('4.60')),
 (10, Decimal('4.06')),
 (11, Decimal('4.04')),
 (12, Decimal('4.29')),
 (13, Decimal('4.31')),
 (14, Decimal('4.50')),
 (15, Decimal('4.81')),
 (16, Decimal('4.95')),
 (17, Decimal('5.63')),
 (18, Decimal('6.06')),
 (19, Decimal('6.05')),
 (20, Decimal('5.62')),
 (21, Decimal('5.89')),
 (22, Decimal('5.70')),
 (23, Decimal('5.01'))]

### By Weekday
- This query studies the composition of trips across each weekday
- I first create a subquery which extracts the weekday of each pickup time
- I then compute the portion of trips within each day

**Findings**
- We can see trips are most popular in the evening and least popular late at night

In [4]:
%%sql
SELECT 
dow, 
ROUND(
100 * COUNT(*)::numeric / (SELECT COUNT(*)::numeric FROM main)
, 2) "Percent of Trips"
FROM (
    SELECT
    CAST(EXTRACT(isodow FROM pickup_datetime) AS INT) "dow"
    FROM main
) dowly
GROUP BY dow 
ORDER BY dow ASC

 * postgresql://root:***@localhost:5432/uber
7 rows affected.

[(1, Decimal('14.70')),
 (2, Decimal('14.74')),
 (3, Decimal('15.51')),
 (4, Decimal('12.80')),
 (5, Decimal('13.58')),
 (6, Decimal('15.07')),
 (7, Decimal('13.61'))]

- Alternatively, we can use a case statement to get verbal names for each weekday
- The most popular weekday is Wednesday and the least popular it Thursday

In [5]:
%%sql
SELECT 
CASE 
    WHEN dow = 1 THEN 'Monday'
    WHEN dow = 2 THEN 'Tuesday'
    WHEN dow = 3 THEN 'Wednesday'
    WHEN dow = 4 THEN 'Thursday'
    WHEN dow = 5 THEN 'Friday'
    WHEN dow = 6 THEN 'Saturday'
    WHEN dow = 7 THEN 'Sunday'
END Weekday,
ROUND(
100 * COUNT(*)::numeric / (SELECT COUNT(*)::numeric FROM main)
, 2) "Percent of Trips"
FROM (
    SELECT
    EXTRACT(isodow FROM pickup_datetime) "dow"
    FROM main
) dowly
GROUP BY dow 
ORDER BY dow ASC

 * postgresql://root:***@localhost:5432/uber
7 rows affected.

[('Monday', Decimal('14.70')),
 ('Tuesday', Decimal('14.74')),
 ('Wednesday', Decimal('15.51')),
 ('Thursday', Decimal('12.80')),
 ('Friday', Decimal('13.58')),
 ('Saturday', Decimal('15.07')),
 ('Sunday', Decimal('13.61'))]